:host ::ng-deep  {
.mdc-linear-progress__buffer-bar {
    background-color: transparent;
    outline-style: none;
}

.mdc-linear-progress__bar-inner {
    border-color: #5A6794;
}

.mat-mdc-menu-panel {
    background-color: #fcfcfc;
}


}
