<ng-container *ngIf="!(isShow$ | async)">
  <div class="container-fluid page_box mat-typography">
    <router-outlet (activate)="onActivateRouterOutlet()"></router-outlet>
  </div>
</ng-container>

<div class="container-fluid page_box mat-typography" *ngIf="isShow$ | async">
  <div class="row no-gutters page_header-box">
    <div class="col-12 no-gutters">

      <app-header [logotypeUrl]="logoUrl">
      </app-header>

      <mat-toolbar class="header-toolbar">
        <div class="header-toolbar_toggle-sidebar-nav-view-mode-button">
          <button mat-icon-button class="mat-icon-button" (click)="toggleSidebarNavViewMode()">
            <ng-container *ngIf="!tabletMode">
              <mat-icon *ngIf="sidebarNavViewMode === viewModeType.Collapsed">menu</mat-icon>
              <mat-icon *ngIf="sidebarNavViewMode === viewModeType.Expanded">close</mat-icon>
            </ng-container>
            <ng-container *ngIf="tabletMode">
              <mat-icon *ngIf="!sidenavService.opened$.value">menu</mat-icon>
              <mat-icon *ngIf="sidenavService.opened$.value">close</mat-icon>
            </ng-container>
          </button>
          
        </div>

        <!-- <div class="header-toolbar_search-back">
        </div> -->

        <div class="header-toolbar_search-toolbar-container">
          <div class="header-toolbar_search-toolbar-wrapper"[ngClass]="{ 'open': !sidenavService.opened$.value }">
            <app-route-planner-toolbar *ngIf="showRoutePlannerToolbar"></app-route-planner-toolbar>
            <app-tracking-toolbar *ngIf="showTrackingToolbar"></app-tracking-toolbar>
            <app-logistics-toolbar *ngIf="showLogisticsToolbar"></app-logistics-toolbar>
            <app-search-places-toolbar *ngIf="showSearchPlacesToolbar"></app-search-places-toolbar>
          </div>
        </div>

        <div class="w-spacer" *ngIf="!showLogisticsToolbar && !showTrackingToolbar">&nbsp;</div>

        <nav class="header-toolbar_action-buttons-wrapper">

        </nav>
      </mat-toolbar>
    </div>
  </div>

  <div class="row no-gutters page_content-box">
    <div class="col-12 no-gutters" [class.__has-sidebar]="sidebarNavViewMode === viewModeType.Collapsed"
      [class.__has-expanded-sidebar]="sidebarNavViewMode === viewModeType.Expanded">
      <app-sidebar-nav [selected]="sidebarNavActiveTab" [tabs]="sidebarNavTabs" [viewMode]="sidebarNavViewMode">
      </app-sidebar-nav>
      <div class="page_content __position-relative" cdkScrollable>
        <mat-progress-bar *ngIf="showProgress" class="page_content-preloader" color="primary" mode="indeterminate">
        </mat-progress-bar>
        <router-outlet (activate)="onActivateRouterOutlet()"></router-outlet>
      </div>

    </div>
  </div>
</div>