<div class="c-map-toolbar-fullscreen-control">
    <mat-button-toggle-group class="c-map-button-toggle-group "
                             *ngIf="isShowFullscreenControl"
                             [disabled]="isDisabledFullscreenControl"
                             [vertical]="true"
                             [(ngModel)]="isResetFullscreenControl">
      <mat-button-toggle [matTooltip]="tooltipFullscreen"
                         matTooltipPosition="left"
                         *ngIf="isShowFullscreen"
                         [disabled]="isDisabledFullscreen"
                         value="fullscreen"
                         (change)="onChangeFullscreen()">
        <mat-icon class="mat-icon">fullscreen</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle [matTooltip]="tooltipFullscreenExit"
                         matTooltipPosition="left"
                         *ngIf="isShowFullscreenExit"
                         [disabled]="isDisabledFullscreenExit"
                         value="fullscreenexit"
                         (change)="onChangeFullscreen()">
        <mat-icon class="mat-icon">fullscreen_exit</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>